# ===============================
# Application Environment Config
# ===============================

NODE_ENV= # Runtime environment stage (possible values: development | production | test)

# ===============================
# PostgreSQL/Supabase Database Connection
# ===============================

DB_HOST= # Hostname or IP address of the PostgreSQL/Supabase server
DB_PORT= # Port number the PostgreSQL/Supabase server is listening on (default: 5432)
DB_USERNAME= # PostgreSQL/Supabase database username
DB_PASSWORD= # PostgreSQL/Supabase database password
DB_NAME= # Name of the PostgreSQL/Supabase database to connect to