# ===============================
# Application Environment Config
# ===============================

NODE_ENV= # Runtime environment stage (possible values: development | production | test)
JWT_SECRET= # JWT secret used to sign JWT token

# ===============================
# PostgreSQL/Supabase Database Connection
# ===============================

DB_HOST= # Hostname or IP address of the PostgreSQL/Supabase server
DB_PORT= # Port number the PostgreSQL/Supabase server is listening on (default: 5432)
DB_USERNAME= # PostgreSQL/Supabase database username
DB_PASSWORD= # PostgreSQL/Supabase database password
DB_NAME= # Name of the PostgreSQL/Supabase database to connect to

# Firebase ENV
FB_API_KEY=
FB_AUTH_DOMAIN=
FB_PROJECT_ID=
FB_STORAGE_BUCKET=
FB_MESSAGING_SENDER_ID=
FB_APP_ID=
FB_MEASURMENT_ID=

# SMTP
SMTP_HOST="smtp.gmail.com"
SMTP_PORT="465"
SMTP_USER="treelydevs@gmail.com"
SMTP_PASS="wysb ackr txmy dwnb"
